@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: #2D1E17;
  --secondary-color: #523F31;
  --background-light: #EADDD3;
  --text-color: #ffffff;
  --form-bg: #796254;
  --input-bg: #9D8A7C;
  --border-radius: 12px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-light);
}

.contactContainerAll {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 96%;
  padding: 40px;
  gap: 5%;
  margin-left: 10%;
}

.contactFormSection {
  color: #2D1E17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  height:80%;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: var(--border-radius);
  border: none;
  background: var(--input-bg);
  color: var(--text-color);
  font-size: 16px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border-radius: var(--border-radius);
  border: none;
  background: var(--input-bg);
  color: var(--text-color);
  font-size: 16px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.submitButton {
  background: none;
  padding: 12px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width:30%;
}

.submitButton:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
}

.contactInfoSection {
  flex: 1;
  color: var(--primary-color);
  text-align: center;
}

.contactDetails h2, 
.contactDetails h3 {
  margin-bottom: 10px;
}

.contactDetails p, 
.contactDetails ul {
  font-size: 16px;
}

.contactDetails ul {
  list-style: none;
  padding: 0;
}

.contactDetails ul li {
  margin-bottom: 5px;
}

.contactDetails a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contactDetails a:hover {
  text-decoration: underline;
}

.mapContainer {
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 20px;
}

.map {
  width: 60%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .contactContainerAll {
    flex-direction: column;
    margin-left:-7%;
    gap: 50px;
  }
  .contactFormSection, 
  .contactInfoSection {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contactContainerAll {
    flex-direction: column;
    margin-left: -4%;
    gap: 50px;
  }
  .contactFormSection, 
  .contactInfoSection {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .contactContainerAll {
    flex-direction: column;
    margin-left: -2%;
    gap: 50px;
  }
  .contactFormSection, 
  .contactInfoSection {
    width: 100%;
  }
}
