body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.headerAndHeroContainer {
    background-image: url('src/assets/pics/landingPage-pics/home-bg.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh; 
}



