.postCard {
    background-color: #6F4E37; 
    color: #EDE0D4;
    border-radius: 16px;
    padding: 16px;
    margin: 15px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
}

.small {
    max-width: 50%;
  }
  
  .large {
    max-width: 100%;
  }

.postCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
}

.profilePic {
    width: 40px;
    height: 40px;
    background-color: #C4A484;
    border-radius: 50%;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.postImage {
    width: 100%;
    height: 600px;
    background-color: #C4A484; 
    border-radius: 12px;
    margin-bottom: 12px;
}

.body {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.button {
    background: none;
    border: none;
    color: #EDE0D4;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 600px) {
    .postCard {
        padding: 14px;
    }

    .username {
        font-size: 16px;
    }

    .body {
        font-size: 14px;
    }
}
