.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none ;
    padding: 0.8rem 2rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-light);
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 500;
  }
  