.header {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #6F4E37; 
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.header:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.messageButton {
  background: none;
  border: none;
  color: #EDE0D4; 
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 150px;
}
.logoutButton {
  position: absolute;
  bottom: 30px;
  left: 30px; 
  background-color: #6F4E37;
  color: #EDE0D4;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.logoutButton:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
