.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.inputBox i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.btn {
  padding: 10px 20px;
  background: linear-gradient(90deg, var(--light-bg), var(--medium-bg));
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
